<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176858987512-8loutisa63tjash5hif6hb9l89fd65jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176858987512-8loutisa63tjash5hif6hb9l89fd65jo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176858987512-0fdh42nf8qcunklqiv2ojqvbmi6ncds5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKQxS1sRU47SEJVqWrxvjgnrf7NrBxowA</string>
	<key>GCM_SENDER_ID</key>
	<string>176858987512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ulogicIt.ulogicitpetbnb</string>
	<key>PROJECT_ID</key>
	<string>ulogic-it-petbnb-tklpne</string>
	<key>STORAGE_BUCKET</key>
	<string>ulogic-it-petbnb-tklpne.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176858987512:ios:8044f30679c7618c4bb40d</string>
</dict>
</plist>